# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\py_project\MrWQ.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
